@mixin arrowBtn($btnCollor) {
  &,
  &:link {
    display: inline-block;
    color: $btnCollor;
    font-size: 1.9rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 10rem;
    width: 80%;
    text-align: left;
    transition: all 0.3s;
    font-weight: 400;
  }

  &::after {
    content: "\2192";
    color: currentColor;
    transition: all .8s cubic-bezier(0.7, 0, 0, 2);
    font-size: 2.5rem;
    opacity: 0;
    margin-left: -3rem;
  }

  &:hover::after {
    margin-left: 1.2rem;
    color: currentColor;
    opacity: 1;
  }
}
