.form {
  display: flex;
  flex-direction: column;
  margin: 5rem 4rem;
  
  @include responsive(tab-port) {
    flex: 1;
    padding: 5rem 10rem;
    margin: 0;
  }

  @include responsive(phone) {
    padding: 5rem;
  }
 

  &__title {
    display: flex;
    align-items: flex-start;
    margin: 3rem 0;

    @include responsive(tab-port) {
      align-self: center;
      margin-bottom: 8rem;
      font-size: 3rem;
    }

  }

  &__group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1rem 0;

    &:last-child {
      align-items: flex-end;
    }

    &:nth-child(5){
      flex-direction: row;
    }

  }

  &__radio {
    justify-content: space-between;
    display: flex;
    
    @include responsive(phone) {
      flex-direction: column !important;
      align-self: flex-end;
    }

  }

  &__input {
    border: 0;
    border-bottom: 1px solid $color-grey-light-3;
    padding: 1rem 0;
    letter-spacing: 1px;
    
    &:focus{
      outline: none;
      border-bottom: 1px solid $color-ocean-blue;

      &:not(:valid){
        border-bottom: 1px solid $color-red;
      }

    }
    

    &::-webkit-input-placeholder {
      font-size: 1.6rem;
      color: $color-grey-light-3;
    }

  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(0);
  }

  &__input:not(:placeholder-shown) + &__label {
    opacity: 1;
    transform: translateY(-10px);
  }

  &__label {
    font-size: 1.6rem;
    color: $color-grey-light-3;
    position: relative;
    top: -5rem;
    letter-spacing: 1px;
    transition: all .5s;
  }


  &__radio-group {
    margin-bottom: 2rem;
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked + &__radio-label > &__radio-button::after{
    visibility: visible;
  }


  &__radio-label {
    display: flex;
    color: $color-secondary;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__radio-button {
    display: flex;
    border: 4px solid $color-secondary;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;

    &::after {
      content: " ";
      width: 1.3rem;
      height: 1.3rem;
      background-color: $color-secondary;
      border-radius: 50%;
      visibility: hidden;
    }


  }

}

.form-container{
  flex: 0 0 45%;

  @include responsive(tab-port) {
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
  }

}