body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.heading {
  &__primary {
    color: $color-grey-light-2;
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 6px;
    text-align: center;

    @include responsive(phone) {
      font-size: 5rem;
    }

    @include responsive(small-phone) {
      font-size: 4rem;
    }

  }

  &__secondary {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 7px;
    color: $color-grey-dark-2;
    text-align: center;

    @include responsive(tab-port) {
      font-size: 4rem;
    }

    @include responsive(small-phone) {
      font-size: 3rem;
    }

  }

  &__tertiary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    align-self: center;
    margin: auto;
    color: $color-grey-dark-1;

    @include responsive(phone) {
      font-size: 2.5rem;
    }
  }

  &__transparent {
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-secondary,
      $color-ocean-blue
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}
