.mb-small{margin-bottom: 2rem !important;}
.mb-medium{margin-bottom: 4rem !important;}
.mb-large{margin-bottom: 8rem !important;}


.mt-small{margin-top: 2rem !important;}
.mt-medium{margin-top: 4rem !important;}
.mt-large{margin-top: 8rem !important;}

.align-left {
  text-align: start !important;
}

.flex-row {
  flex-direction: row !important;
}

.color-blue {
  color: $color-primary-light;
  transition: color .5s;
}

.color-white {
  color: $color-white;
  transition: color .5s;
}